extends ../../layout

block content
  div.container.is-fluid
    section.section
      nav.breadcrumb
        ul
          li
            a(href="#") Dashboard
      div.content
        p=`You are logged in as ${data.user.username}`
      a(href="/logout").button Logout
  
block scripts
  script(type="text/javascript").