<app-navigation></app-navigation>

<div class="columns is-gapless">
  <aside class="menu column is-2 isn-narrow-mobile is-hidden-mobile">
    <section class="section">
      <p class="menu-label">General</p>
      <ul class="menu-list">
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/account" class="is-active">Account</a>
        </li>
        <li>
          <a href="/orders">Orders</a>
        </li>
        <li>
          <a href="/settings">Settings</a>
        </li>
      </ul>
    </section>
  </aside>
  <div class="column is-10">
    <section class="section">
      <div class="columns is-centered is-vcentered is-desktop">
        <div class="column is-half">
          <form #updateForm="ngForm" (submit)="onSubmit(updateForm)">
            <div class="field">
              <label for="username" class="label">Username</label>
              <div class="control">
                <input *ngIf="user" type="text" placeholder="Username" name="username" id="username" class="input" [(ngModel)]="user.username">
              </div>
            </div>
            <div class="field">
              <label for="email" class="label">Email</label>
              <div class="control">
                <input *ngIf="user" type="text" placeholder="Email" name="email" id="email" class="input" ngModel [(ngModel)]="user.email">
              </div>
            </div>
            <div class="field">
              <label for="password" class="label">Password</label>
              <div class="control">
                <input type="password" placeholder="Password" name="password" id="password" class="input" ngModel>
              </div>
            </div>
            <div class="field">
              <label for="passwordConf" class="label">Confirm Password</label>
              <div class="control">
                <input type="password" placeholder="Confirm Password" name="passwordConf" id="passwordConf" class="input" ngModel>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button type="submit" class="button is-link">Update</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>