html
  head
    title Market REST API
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(type="text/css", rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap")
    link(type="text/css", rel="stylesheet", href="/bulma/css/bulma.min.css")
    link(type="text/css", rel="stylesheet", href="/dropzone/dist/dropzone.css")
    link(type="text/css", rel="stylesheet", href="/css/main.css")

    block css
  body

    block content

    script(type="text/javascript", src="/reload/reload.js")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(type="text/javascript", src="/dropzone/dist/dropzone.js")
    
    block scripts